
<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <app-home-link></app-home-link>
      </li>
      <li class="nav-item">
        <app-catalogue-link></app-catalogue-link>
      </li>
      <li class="nav-item">
        <app-shopping-cart-link></app-shopping-cart-link>
      </li>
      <li class="nav-item">
        <app-compare-link></app-compare-link>
      </li>
      <li class="nav-item">
<!--        *ngIf="authService.role=='ADMIN'"-->

        <a  routerLink="search" routerLinkActive="active">Admin</a>

      </li>

      <li class="nav-item" *ngIf="authService.role=='MANAGER'" >
        <app-product-catalog-link></app-product-catalog-link>
      </li>
<!--      <li class="nav-item" *ngIf="authService.role=='MANAGER'" >-->
<!--        <p>MANAGER-&#45;&#45;</p>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.role=='ADMIN'" >-->
<!--        <p>ADMIN-&#45;&#45;</p>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.role=='USER'" >-->
<!--        <p>USER-&#45;&#45;</p>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.status=='ANONYMOUS'" >-->
<!--        <p>ANONYMOUS</p>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.role=='COURIER'" >-->
<!--        <p>COURIER-&#45;&#45;</p>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.status=='AUTHORIZED'" >-->
<!--        <p>AUTHORIZED</p>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <p>{{authService.globalRole}}</p>-->
<!--      </li>-->
    </ul>


    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.status!=='ANONYMOUS'" style="cursor:pointer"  routerLink="/settings" routerLinkActive="active" >
          <img src="../../../../assets/img/person.png" width="30" height="30"/>
        </a>
      </li>
      <li>
        <a class="nav-link" *ngIf="authService.status=='ANONYMOUS'" routerLink="/login" routerLinkActive="active" >
          Login</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="authService.status=='ANONYMOUS'" routerLink="/register" routerLinkActive="active" >
          Register</a>
      </li>
      <li>
        <a class="nav-link" style="cursor:pointer" *ngIf="!(authService.status == 'ANONYMOUS')"
           (click)="authService.logout()">Log out
          <img src="../../../../assets/img/logout.png" width="30" height="30"/></a>
      </li>
    </ul>
  </div>
</nav>



