<h1>Cor-cab</h1>
<div>

  <!--  <a class="nav-link" routerLink="/account/profile" routerLinkActive="active"></a>-->

</div>
<mat-icon matPrefix>search</mat-icon>

<table class="table table-bordered">
  <thead>
  <tr>
    <th> Deliveryhour </th>
    <th> courierPackage id</th>
    <th> Client name</th>
    <th> dontdisturb </th>
    <th> Adress</th>
    <th> DeliveryTime</th>
    <th>Price</th>
    <th>Status</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let courierPackage of courierpackages" ng-repeat >
    <td>{{courierPackage.hour}}</td>
    <td>{{courierPackage.id}}</td>
    <td>{{courierPackage.username}}</td>
    <td>{{courierPackage.dontdisturb}}</td>
    <td>{{courierPackage.fulladdress}}</td>
    <td>{{courierPackage.deliverytime}}</td>
    <td>{{courierPackage.totalprice}}</td>
    <td>{{courierPackage.orderstatus}}</td>
    <td>{{courierPackage.packagedescription}}</td>


<!--    <button mat-icon-button color="primary"  title="Edit Contact"><mat-icon>edit</mat-icon></button>-->
<!--    <button mat-icon-button color="primary" (click)="onDelete(courierPackage.id)" title="Delete Contact"><mat-icon>delete</mat-icon></button>-->
  </tr>

  </tbody>
</table>


