<div class="row">
  <div class="col-md-9">
<!--    <form>-->
      <div class="form-row">
        <div class="col-md-11 mb-3">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" #searchBox id="search-box" name="search"
                 required minlength="3"
                 (input)="search(searchBox.value)">
        </div>
        <div class="col-md-1 mb-3">
          <!--    <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchBox id="search-box" (input)="search(searchBox.value)" >-->
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="secondary" (click)="onSearchClick(searchBox.value)">
            Search
          </button>
        </div>

      </div>
<!--    </form>-->
  </div>
  <div class="col-md-3">
    <div class="mb-3 ml-3">
      <div class="text-right">
<!--        <button class="btn btn-outline-secondary my-sm-0" type="secondary" (click)="onCancelFiltersClick()" >-->
        <button class="btn btn-outline-secondary my-sm-0" type="secondary" (click)="onCancelFiltersClick()" >
          Cancel filters
        </button>
      </div>
    </div>
  </div>
</div>



<!--  <ul class="search-result">-->
<!--    <li *ngFor="let product of products$ | async" >-->
<!--      <a routerLink="/product-list/product/{{product.id}}">-->
<!--        {{product.productName}}-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
