<app-nav-bar [role]="role"></app-nav-bar>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"><h4>Shop</h4></a>
  <button class="navbar-toggler" type="button" data-toggler="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main" routerLinkActive="active">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-list" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auction-list" routerLinkActive="active">Auctions</a>
      </li>
      <li class="nav-item ml-3">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>

    </ul>


    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/shopping-cart" routerLinkActive="active">
        <img src="../assets/img/shopping-basket.png" width="30" height="30"/>
      </a>
      <a class="nav-link" *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active" (click)="login()">
        Login</a>
      <a class="nav-link" *ngIf="!loggedIn" routerLink="/register" routerLinkActive="active" (click)="login()">
        Register</a>

      <a class="nav-link" style="cursor:pointer" *ngIf="loggedIn" routerLink="settings">
        <img src="../assets/img/settings.png" width="30" height="30"/>
      </a>
      <a class="nav-link" style="cursor:pointer" *ngIf="loggedIn" (click)="logout()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container pt-5">
  <router-outlet></router-outlet>
</div>

<!--
<footer class="footer">
  <div class="container">
    <div class="d-sm-flex justify-content-between">
      <div class="footer-left ml-5">
        <span class="text-muted">Made by Team #2</span>
      </div>
      <div class="footer-right mr-5">
        <a href="https://github.com/LordNani/netcracker-eshop">
        <img src="../assets/img/GitHub.png" height="30" width="30"/>
        </a>
      </div>
    </div>
  </div>
</footer>
-->
