<app-nav-bar></app-nav-bar>
<!-- global alert -->
<app-alert></app-alert>
<div class="container pt-5">
  <router-outlet></router-outlet>

</div>

<footer class="footer ">
  <div class="container">
    <div class="d-sm-flex justify-content-between">
      <div class="footer-left ml-5">
        <span >Made by Team #2</span>
      </div>
      <div class="footer-right mr-5">
        <a href="https://github.com/LordNani/netcracker-eshop">
          <img src="../assets/img/GitHub.png" height="30" width="30"/>
        </a>
      </div>
    </div>
  </div>
</footer>
