<div class="row justify-content-around">
  <table class="table table-striped  table-responsive-sm table-sm">
    <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Price</th>
      <th>Author</th>
      <th>Cover Type</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Publisher</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <img class="card-img-top rounded img" [src]="product.productPict" alt="">
      <td><a class="text-product-link" routerLink="/product-list/product/{{product.id}}"><h5 class="post-title">
        {{product.productName}} <sup *ngIf="hasDiscount(product)"
                                     class="badge badge-danger">-{{product.productDiscount}}%</sup></h5></a>
      </td>
      <td *ngIf="!hasDiscount(product)">{{product.productPrice}}</td>
      <td *ngIf="hasDiscount(product)">{{getDiscountedPrice(product)}}</td>
      <td>{{product.author}}</td>
      <td>{{product.coverType}}</td>
      <td>{{product.genre}}</td>
      <td>{{product.language}}</td>
      <td>{{product.publisher}}</td>
      <td>
        <div class="col-md-12">
          <a class="btn btn-secondary mb-3 btn-secondary text-white btn-block" (click)="remove(product)">Delete</a>
        </div>
        <!--        <div class="col-md-12">-->
        <!--          <a *ngIf="product.productStatus === 'inCard'" routerLink="/shopping-cart"-->
        <!--             class="btn btn-secondary text-white btn-block">Already in cart</a>-->
        <!--          <a *ngIf="product.productStatus !== 'inCard'" (click)="addToCart()"-->
        <!--             class="btn btn-secondary text-white mb-3 btn-block">Add to cart</a>-->
        <!--        </div>-->
      </td>
    </tr>
    </tbody>
  </table>


</div>
