<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <h3 class="card-header">Forgot Password</h3>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors }"/>
            <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
              <div *ngIf="form.controls.email.errors.required" _ngcontent-sdw-c58="" class="alert alert-danger">Email is required</div>
              <div *ngIf="form.controls.email.errors.email" _ngcontent-sdw-c58="" class="alert alert-danger">Email is invalid</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-secondary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Submit
            </button>
            <a routerLink="/" class="btn btn-link">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
