  <div  class="card mt-4">
    <div class="card-body">
      <div class="container" id = "main-container">
          <div class="row" >
            <div class="col-md-2 justify-content-around">
              <img src="../../../assets/img/default.png" class="img-fluid"/></div>
            <div class="col-md-6">
              <div class="container">
                <h5 class="post-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="container mt-3">
                <p>productPrice: {{product.productPrice}}</p>
              </div>
              <div class="container mt-3">
                <p>productAmount: {{product.productAmount}}</p>
              </div>
              <div class="container mt-3">
                <p>productDate: {{product.productDate}}</p>
              </div>
              <div class="container mt-3">
                <p>productStatus: {{product.productStatus}}</p>
              </div>
              <div class="container mt-3">
                <p>productCategory: {{product.productCategory}}</p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

