<div class="container">
  <h2 class="text-center"> Settings</h2>

  <div class="container">
    <div class="row justify-content-around mt-4 mb-4">
      <!--      <div class="col-md-6">-->
      <!--        <div class="mb-3">-->
      <!--          <label for="emailInput" class="form-label">Email address:</label>-->
      <!--          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">-->
      <!--        </div>-->
      <!--        <div class="mb-3">-->
      <!--          <label for="passwordInput" class="form-label">Password:</label>-->
      <!--          <input type="password" class="form-control" id="passwordInput">-->
      <!--        </div>-->
      <!--        <div class="mb-3">-->
      <!--          <label for="addressInput" class="form-label">Address:</label>-->
      <!--          <input type="text" class="form-control" id="addressInput">-->
      <!--        </div>-->
      <!--        <div class="mb-3">-->
      <!--          <label for="nameInput" class="form-label">Full name:</label>-->
      <!--          <div class="input-group">-->
      <!--            <input type="text" id="nameInput" class="form-control" placeholder="Name">-->
      <!--            <input type="text" id="surnameInput" class="form-control" placeholder="Surname">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="mb-3 justify-content-md-end d-md-flex">-->
      <!--          <a href="" class="btn btn-secondary mb-3">Save</a>-->
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 ">
                Kenneth Valdez
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                fip@jukmuh.al
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-sm-9">
                <a routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9">
                (320) 380-4539
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 ">
                Bay Area, San Francisco, CA
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-secondary" routerLink="/settings-edit">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


