<!--<form class="form-inline md-form form-sm active-cyan-2">-->
<!--  <div class="container">-->
<!--  <input class="form-control form-control-sm mr-3 w-75"  type="text"  placeholder="Search" aria-label="Search"-->
<!--         mdbInput>-->
<!--    <mat-icon matPrefix>search</mat-icon>-->
<!--  </div>-->

<h1>Search</h1>
<div>

<!--  <a class="nav-link" routerLink="/account/profile" routerLinkActive="active"></a>-->
<button mat-button (click)="onCreate()">
  Create
  <mat-icon matSuffix>add_circle_outline</mat-icon>
</button>


<nav class="navbar" >

  <input class="form-control" type="text" name="userName" [(ngModel)]="userName" (ngModelChange)="Search()"
         placeholder="What do you want?">
</nav>
</div>
  <mat-icon matPrefix>search</mat-icon>
<tbody>
<tr>
  <td><button class="btn btn-lg " (click)="getAllManager()">Managers</button></td>
  <td><button class="btn btn-lg " (click)="getAllCoriers()">Coriers</button></td>
  <td><button class="btn btn-lg " (click)="getEmployee()">All</button></td>
</tr>
</tbody>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th> Manager id</th>
      <th> First name</th>
      <th> Last name </th>
      <th> Email</th>
      <th> Phone number</th>
      <th> Role</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let manager of managers" ng-repeat = "(manager.userName, manager.userSurname,manager.userLogin,manager.userNumber,manager.userRole) in data">
      <td (click)="getID(manager.id)">{{manager.id}}</td>

      <td>{{manager.userName}}</td>
      <td>{{manager.userSurname}}</td>
      <td>{{manager.userLogin}}</td>
      <td >{{manager.userNumber}}</td>
      <td>{{manager.userRole}}</td>

      <button mat-icon-button color="primary"  title="Edit Contact"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="primary" (click)="onDelete(manager.id)" title="Delete Contact"><mat-icon>delete</mat-icon></button>
    </tr>

    </tbody>
  </table>



<!--</form>-->
