.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*flex-direction: center;*/
}

.container > * {
  width: 40%;
}
mat-radio-button{
  margin-right: 40px;
}
.add-bottom-padding{
  margin-top: 10px;
}

.footer-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.status{
  text-align: left;
  width: 20%;

}
.st{
  margin-left: 10px;
}
.select{
  margin-top: 10px;
  width: 100px;
  /*visibility: hidden;*/
}
h6{
  /*visibility: hidden;*/
}
