.text-product-link {
  color: #5a6268 !important;
}
.text-product-link:hover, .text-product-link:active {
  color: #6c757d !important;
}

.has-discount-text{
  color: brown;
}

.img {
  width: 200px;
  height: 250px;
  text-align: center;
  margin-top: 5px;
}
