<div *ngIf="product">
  <div class="card">
    <img class="card-img-top" src="../../../assets/img/default.png" class="img-fluid" alt="">
    <div class="card-body">
      <a routerLink="/product-list/product/{{product.id}}"><h5 class="post-title">{{product.productName}}</h5></a>
      <div class="row">
        <div class="col-sm-6">
          <p>Price: ${{product.productPrice}}</p>
          <p *ngIf="product.productStatus === 'inCard'">already in cart:</p>
        </div>
        <div class="col-sm-6">
          <a  (click)="addToCart()"  class="btn btn-secondary">Add to cart</a>
          <a  (click)="del()"  class="btn btn-secondary">del</a>
        </div>
      </div>
    </div>
  </div>
</div>

