<div class="container">
  <h2 class="text-center"> Settings</h2>

  <div class="container">
    <div class="row justify-content-around mt-4 mb-4">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" value="John Doe">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" value="john@example.com">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="(239) 816-9029">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-secondary" routerLink="/settings">Save</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
