<div class="container">
  <div class="row justify-content-around mt-4 mb-4">
    <div class="col-md-3">
      <h3 class="text-center p-1">Filters</h3>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Filter1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Filter2
        </label>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="text-center p-1">Products Catalogue</h3>
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/default.png" class="img-fluid" alt="">
                <div class="card-body">
                  <a routerLink="/product" routerLinkActive="active"><h5 class="post-title">Product</h5></a>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/default.png" class="img-fluid" alt="">
                <div class="card-body">
                  <h5 class="post-title">Product</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/default.png" class="img-fluid" alt="">
                <div class="card-body">
                  <h5 class="post-title">Product</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center after-posts">
        <button type="button" class="btn btn-outline-secondary Load-more">
          Load more
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

