<div class="container">

  <div class="row justify-content-around ">
    <div class="col-lg-3 col-md-2 mt-2">
      <select class="custom-select">
        <option selected>Select Order by</option>
        <option value="1" (click)="getOrderedProducts(1)">Price: Low to High</option>
        <option value="2" (click)="getOrderedProducts(2)">Price: High to Low</option>
        <option value="3" (click)="getOrderedProducts(3)">Newest</option>
      </select>
    </div>
    <div class="col-lg-9 col-md-10">
      <app-product-search (searchValue)="getSearchedProducts($event)"></app-product-search>
    </div>


  </div>

  <div class="row justify-content-around mt-4 mb-4">
    <div class="col-lg-3 col-md-2">
      <app-categories-part (filterValue)="getFilteredProducts($event)"></app-categories-part>

    </div>

    <div class="col-lg-9 col-md-10">
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-4" *ngFor="let product of currentProducts">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>

      <!--
      <div class="col text-center after-posts">
        <button type="button" class="btn btn-outline-secondary Load-more">
          Load more
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
      -->

    </div>
  </div>
</div>

